<app-navbar></app-navbar>
<div class="row">
	<div class="col-3">
		<app-sidebar></app-sidebar>
	</div>
	<div class="col-8">
		<div class="content-cites">
			<div class="row">
				<h2 class="title">Historias medicas</h2>
				<div class="row">
					<div class="form-group serach">
					<input [(ngModel)]="modificar" type="text" class="form-control text-center" id="modificar" placeholder="Buscar historia">
					</div>
					<pagination-controls class="my-pagination" previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event"></pagination-controls>
				</div>
			</div>
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Cédula</th>
						<th scope="col">Nombre</th>
						<th scope="col">Apellido</th>
						<th scope="col">Sexo</th>
						<th scope="col">Opciones</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let patient of patients | paginate: { itemsPerPage: 4, currentPage: p }">
						<th>{{ patient.ci }}</th>
						<td>{{ patient.name }}</td>
						<td>{{ patient.last_name }}</td>
						<td *ngIf="patient.sexo == 1">Masculino</td>
						<td *ngIf="patient.sexo == 2">Femenino</td>
						<td><a class="btn btn-secondary btn-sm btn-space-1" routerLink="/view-history/{{ patient.id }}">Ver historia</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
