/*.btn-space-1{
	margin-right: 2px;
}

.content-cites
{
	margin: 0px 100px 0px 300px;
}

.button-1
{
	color: black;
	background-color: #f8f9fa;
	margin: 0px 0px 5px 0px;
	margin-right: 5px;
	margin-left: 550px;
}

.button-2
{
	color: black;
	background-color: #f8f9fa;
	margin: 0px 0px 5px 0px;
	margin-right: 5px;
}

.button-3
{
	background-color: #dc3545;
}

.title
{
	margin-left: 30px;
}

.button-1:hover
{
	color: white;
	background-color: #dc3545;
	margin: 0px 0px 5px 0px;
	margin-right: 5px;
	margin-left: 550px;
}

.button-2:hover
{
	color: white;
	background-color: gray;
	margin: 0px 0px 5px 0px;
	margin-right: 5px;
}*/