<app-navbar></app-navbar>
  <div class="row">
    <div class="col-3">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-9"><div class="contenedor">
  <div class="widget">
    <div class="fecha">
      <p id="diaSemana" class="diaSemana"></p>&nbsp;
      <p id="dia" class="dia"></p>
      <p>&nbsp;de</p>&nbsp;
      <p id="mes" class="mes"></p>
      <p>&nbsp;del</p>
      <p id="anio" class="anio"></p>
    </div>
    <div class="reloj">
      <p id="horas" class="horas"></p>
      <p>:</p>
      <p id="minutos" class="minutos"></p>
      <p>:</p>
      <div class="cajaSegundos">
        <p id="ampm" class="ampm"></p>
        <p id="segundos" class="segundos"></p>
      </div>
    </div>
  </div>
</div>
    </div>
  </div>
